div.awoo-extras {
    font-size: 11px;
    height: 0;
    display: flex;
    justify-content: center;
}

div.awoo-extras.awoo-enabled {
    height: 24px;
}

div.awoo-extras > * {
    display: none;
    line-height: 24px;
}

div.awoo-extras > .awoo-shown {
    display: inline;
}

div.awoo-extras a {
    cursor: pointer;
    margin: 0 2px;
}

.awoo .modal-dialog {
    max-width: none !important;
    width: auto;
}

.awoo .modal-dialog {
    width: max-content;
}

.awoo-dl-btn {
    font-weight: bold;
}
